/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(13, 28, 106);
    color: white;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.line-through {
    text-decoration: line-through;
}

h1,
h2{
    padding: 1rem;
}

div.input {
    padding: 1rem;
}

div.input button {
    margin-left: .5rem;
    color: white;
    background-color: magenta;
    border: none;
    border-radius: 1rem;
    padding: .5rem;
    cursor: pointer;
}

ul{
    padding-left: 1rem;
    list-style-type: none;
    width: 50%;
}

ul li {
    padding: 1rem;
    border: 2px solid white;
    display: flex;
    justify-content: space-between;
}

ul li p:hover,
ul li i:hover {
    cursor: pointer;
    color: magenta;
}